[user]
    name = Akash Goyal
    email = ag.akgoyal@gmail.com
[push]
    default = current
[diff]
    tool = vimdiff3
[difftool "vimdiff3"]
    path = nvim
[merge]
    tool = vimdiff3
[mergetool "vimdiff3"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[mergetool]
    prompt = false
[core]
    editor = nvim
[credential "https://github.com"]
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper = !/usr/bin/gh auth git-credential
