if [ -x "$(command -v fzf)"  ]
then
    # Append this line to ~/.zshrc to enable fzf keybindings for Zsh:
    source /opt/homebrew/Cellar/fzf/0.54.3/shell/key-bindings.zsh
    # Append this line to ~/.zshrc to enable fuzzy auto-completion for Zsh:
    source /opt/homebrew/Cellar/fzf/0.54.3/shell/completion.zsh
fi

# Define aliases.
alias tree='tree -a -I .git'

# Eza
alias l="eza -l --icons --git -a"
alias lt="eza --tree --level=2 --long --icons --git"
alias ld='eza -lD'      # lists only directories (no files)
alias lf='eza -lF --color=always | grep -v /'       # lists only files (no directories)
alias lh='eza -dl .* --group-directories-first'     # lists only hidden files (no directories)
alias ll='eza -al --group-directories-first'        # lists everything with directories first
alias ls='eza -lF --color=always --sort=size | grep -v /'      # lists only files sorted by size

# Add flags to existing aliases.
# alias ls='ls -p --group-directories-first --color=auto'
# alias ls="${aliases[ls]:-ls} -A"
# alias ll='ls -ailF'
# alias la='ls -A'
# alias l='ls -CF'
alias c='clear'
alias myip="curl ipinfo.io/ip"
alias sshp="sshpass -p welcome ssh "
alias vi='nvim'

# Git
##########
alias gcg="git config --edit --global"
alias gcl="git config --edit --local"
alias gs="git status -s \
    | fzf --no-sort --reverse \
    --preview 'git diff --color=always {+2} | diff-so-fancy' \
    --bind=ctrl-j:preview-down --bind=ctrl-k:preview-up \
    --preview-window=right:60%:wrap"

alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias glogNoDays="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit"
alias epoc="date +%s"

# Tmux
# Attaches tmux to a session (example: ta portal)
alias ta='tmux attach -t'
# Creates a new session
alias tn='tmux new-session -s '
# Kill session
alias tk='tmux kill-session -t '
# Lists all ongoing sessions
alias tl='tmux list-sessions'
# Detach from session
alias td='tmux detach'
# Tmux Clear pane
alias tc='clear; tmux clear-history; clear'

# General
##########
alias whereami='npx @rafaelrinaldi/whereami -f json'
# alias l='exa --long --header --all --icons'
# alias ls='exa --header --sort=modified'
# alias tree='exa --tree --level=2'
alias lip="ip addr show en0"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# fzf
# FZF, open selected file in nvim with preview!
alias of="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}' | xargs nvim"

alias -g H=' --help'
alias -g L='| less'
alias -g R=" 2>&1 | tee output.txt"
alias -g T="| tail -n +2"
alias -g V=' --version'
alias -g W='| nvim -c "setlocal buftype=nofile bufhidden=wipe" -c "nnoremap <buffer> q :q!<CR>" -'

alias diskusage='du -sh * | sort -h --reverse'
alias ghc='~/dotfiles-dev/scripts/_gh_cli.sh'
alias ghcurrentbranch='gh repo view --branch $(git rev-parse --abbrev-ref HEAD) --web'
