if [ -x "$(command -v fzf)"  ]
then
    # Append this line to ~/.zshrc to enable fzf keybindings for Zsh:
    source /home/ir/.fzf/shell/key-bindings.zsh
    # Append this line to ~/.zshrc to enable fuzzy auto-completion for Zsh:
    source /home/ir/.fzf/shell/completion.zsh
fi

# Define aliases.
alias tree='tree -a -I .git'

# Eza
alias l="eza -l --icons --git -a"
alias lt="eza --tree --level=2 --long --icons --git"
alias ld='eza -lD'      # lists only directories (no files)
alias lf='eza -lF --color=always | grep -v /'       # lists only files (no directories)
alias lh='eza -dl .* --group-directories-first'     # lists only hidden files (no directories)
alias ll='eza -al --group-directories-first'        # lists everything with directories first
alias ls='eza -lF --color=always --sort=size | grep -v /'      # lists only files sorted by size

# Colorls
# source $(dirname $(gem which colorls))/tab_complete.sh
# alias ls='colorls'
# alias ll='colorls -lrti'
# alias la='colorls -lrtia'
# alias lt='colorls -t -1'       ## Sort by modification time

# Add flags to existing aliases.
# alias ls='ls -p --group-directories-first --color=auto'
# alias ls="${aliases[ls]:-ls} -A"
# alias ll='ls -ailF'
# alias la='ls -A'
# alias l='ls -CF'
alias c='clear'
alias myip="curl ipinfo.io/ip"
alias sshp="sshpass -p welcome ssh "
alias vi='nvim'

# Git
##########
alias gcg="git config --edit --global"
alias gcl="git config --edit --local"
alias gs="git status -s \
    | fzf --no-sort --reverse \
    --preview 'git diff --color=always {+2} | diff-so-fancy' \
    --bind=ctrl-j:preview-down --bind=ctrl-k:preview-up \
    --preview-window=right:60%:wrap"

alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias glogNoDays="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gc='git clean -f'	
alias epoc="date +%s"

# Tmux
# Attaches tmux to a session (example: ta portal)
alias ta='tmux attach -t'
# Creates a new session
alias tn='tmux new-session -s '
# Kill session
alias tk='tmux kill-session -t '
# Lists all ongoing sessions
alias tl='tmux list-sessions'
# Detach from session
alias td='tmux detach'
# Tmux Clear pane
alias tc='clear; tmux clear-history; clear'

# General
##########
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# fzf
# FZF, open selected file in nvim with preview!
alias of="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}' | xargs nvim"

## Docker aliases

# Get latest container ID
alias dl="docker ps -l -q"

# Get container process
alias dps="docker ps"

# Get process included stop container
alias dpa="docker ps -a"

# Get images
alias di="docker images"

# Get container IP
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"

# Run deamonized container, e.g., $dkd base /bin/echo hello
alias dkd="docker run -d -P"

# Run interactive container, e.g., $dki base /bin/bash
alias dki="docker run -i -t -P"

# Execute interactive container, e.g., $dex base /bin/bash
alias dex="docker exec -i -t"

# Stop and Remove all containers
alias drmf='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'

# Prune docker system
alias dsp='docker system prune -a'
